<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAHZ75lgI14_WWYj1hpBh-Iyp0oWo7WzMA</string>
	<key>GCM_SENDER_ID</key>
	<string>59382500288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thelegendsix.chaeum</string>
	<key>PROJECT_ID</key>
	<string>chaeum-2e60e</string>
	<key>STORAGE_BUCKET</key>
	<string>chaeum-2e60e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59382500288:ios:904cac079edd07e611d625</string>
</dict>
</plist>